

.img{
  width: 300px;
  margin-top: 70px;
  margin-left: 60px;
}

.yoga{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
  font-style: oblique;
  background-color: #b3e5f2;
  margin-left: 250px;
  margin-right: 250px;
}

.yoga-p{
  margin-left:20px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  padding-right: 30px;
  padding-top: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

.about{
  display: flex;
  flex-direction: row;
}