$primary: #05653f;
$secondary : #ebebeb;
$danger:rgba(218, 12, 12, 0.767);
$warning: #FFA500;
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  'danger':$danger,
  'warning':$warning,
);

// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";


.img{
  width: 300px;
  margin-top: 70px;
  margin-left: 60px;
}

.yoga{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  
}

.yoga-p{
  margin-left:20px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  padding-right: 30px;
}

.about{
  display: flex;
  flex-direction: row;
}