.footer{
  margin: auto;
    position: relative;

   margin-top: 250px;


}

.container{
    display: flex; 
    justify-content: center;
    margin-bottom: 10px;
}

.text-white{
  // padding-bottom: 30px;
  font-weight: bolder;
  padding-top: 20px;
}
.Email-container{
  display: flex; 
    justify-content: center;
    margin-bottom: 10px;
}
.form-control {
  margin-left: 50px;
  // display: flex; 
    justify-content: center;
    margin-bottom: 10px;
}