@import url("https://cdn.syncfusion.com/ej2/material.css");
.session-form{
  
  padding: 50px;
  margin: 0 auto;
  width: 100%;
  align-content: center;
  color: black;
  padding-top: 50px;
  border: 2px solid black;
}

.single-form{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.content{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.join{
  display: flex;
  justify-content: center;
}

.form-control{
  width: 500px;
  margin-left: 20px;
}

.date-form{
  margin-left: 20px;
}

.name{
  margin-bottom: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 100px;
  font-weight: bold;
}