#register {
  padding: 20px 0;
}

#register form {
  margin: 10px auto;
  max-width: 320px;
}

.form-signup{
  padding-top: 10px;
}

.form-block{
// padding-left: 10px;
// margin-left: 100px;
width: fit-content;
}


.font{
  font-weight: bolder;
  padding-right: 200px;
}

.row{
  padding-top: 110px;
}