#register {
  padding: 10px 0;
}

#register form {
  margin: 0 auto;
  max-width: 320px;
}

.form-signup{
  padding-top: 10px;
}

.form-block{
 margin-right: 20px;
padding-right: 100px;
}

.row{
  display: flex;
  justify-content:center;
}