#register {
  padding: 10px 0;
}

#register form {
  margin: 0 auto;
  max-width: 320px;
}

.form-signup{
  padding-top: 10px;
}

.form-block{
 margin-left: 10px;
padding-right: 500px;
padding-left: 10px;
// margin-left: 100px;
width: fit-content;

}

.row{
  display: flex;
  justify-content:center;
}