
.text{
    display: flex; 
    justify-content: center; 
    margin-bottom: 50px;
    background-color: rgb(237, 219, 150);
    margin-left: 600px;
    margin-right: 600px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-style: oblique;
}

.card-img-top{
    max-width: 200px; 
    padding-left: 50px; 
    margin-top: 20px;
}

.section-one{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    text-align: left;
    
}

.cst-card{
    display: flex !important;
    width: 60%;
    height: 180px;
    margin-left: 60px;
}

.card-body{
    margin-left: 40px;
    
}