.thankyou{
    width: 700px;
    height: 300px;
    margin-top: 70px;
   margin-left: 350px;
   margin-bottom: 30px;
}

.msg{
    padding-top: 100px;
    text-align: center;
}
.booking{
    padding-top: 50px;
    text-align: center;
}