.thankyou{
    width: 700px;
    height: 300px;
    margin-top: 70px;
   margin-left: 350px;
   margin-bottom: 30px;
}


.booking{
    padding-top: 150px;
    text-align: center;
    border-style: dotted;
    margin-left: 400px;
    margin-right: 400px;
    background-color: rgb(145, 172, 164);
    border: 2px solid rgb(5, 40, 33);
    margin-top: 80px;
    padding-bottom: 60px;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}